In [1]:
from arcgis.gis import GIS
from arcgis.features import SpatialDataFrame

In [2]:
gis = GIS()

In [31]:
search_results = gis.content.search("Shopping Malls Prague", item_type= "Feature Layer", max_items=10)
search_results

[<Item title:"Nejbližší SKODA AUTO dealer k OC" type:Feature Layer Collection owner:ojaksik5>,
 <Item title:"Shopping Malls Prague" type:Feature Layer Collection owner:ojaksik5>]

In [34]:
feature_layer = search_results[1].layers[0]
feature_layer

In [35]:
sdf = SpatialDataFrame.from_layer(feature_layer)
sdf.head()

,EXCEL_ID,f1,f2,f3,f4,f5,f6,f7,f8,f9,objectId,SHAPE
0,4e8baa24-5223-4c8a-ac9b-c2c47cad6376,Centrum Černý Most,82000,11000000,0.139977,3200,"Globus, Decathlon, Marks & Spencer, New Yorker","Chlumecká 765/6, 190 00 Praha",1997,Edge of Town,2,"{'x': 1623358.644200001, 'y': 6464959.21790000..."
1,ea91f80d-4938-4bb0-b233-96b7646e3524,OC Letňany,125000,8500000,0.162096,3200,"Tesco, Kika, Zara, H&M, Sportsdirect, Interspo...","Veselská 663, 199 00 Praha 18",1999,Edge of Town,3,"{'x': 1614286.9690999985, 'y': 6469573.2876000..."
2,d21e67fa-f2f4-4b7a-a3b7-954747a322c7,Centrum Chodov,98600,13000000,0.152767,2667,"Albert Hypermarket, H&M, Hervis, C&A, Zara, Li...","Roztylská 2321/19, 148 00 Praha 11",2005,Edge of Town,4,"{'x': 1613072.0879999995, 'y': 6451761.6630000..."
3,e566089a-cad9-4d28-8e4e-6aaa316926f9,Metropole Zličín,55000,6800000,0.136893,2000,"Albert Hypermarket, Electroworld, Sportisimo, ...","Řevnická 121/1, 155 21 Praha",2002,Edge of Town,5,"{'x': 1590546.0731000006, 'y': 6455590.7025000..."
4,c69b8a0e-72c0-4099-86e5-ab2243cfa43e,Nový Smíchov,55000,20300000,0.168794,2000,"Tesco, Marks & Spencer, H&M, Zara, Hervis, Dat...","Plzeňská 233/8, 150 00 Praha 5",2001,City Centre,6,"{'x': 1603330.0830999983, 'y': 6458750.4016999..."

In [37]:
map = gis.map("Praha")
map

MapView(layout=Layout(height='400px', width='100%'))

In [38]:
sdf.spatial.plot(map_widget= m1)

True

In [36]:
sdf.spatial.plot(map_widget=m1,
               renderer_type='c',  # for class breaks renderer
               method='esriClassifyNaturalBreaks',  # classification algorithm
               class_count=20,  # choose the number of classes
               col='f3',  # numeric column to classify
               cmap='prism',  # color map to pick colors from for each class
               alpha=0.7  # specify opacity
               )

True